<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link css  -->
  {% assets "lib_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  {% assets "lib_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="./static/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Plotly.js -->

  {% assets "main_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <!-- link css to pages  -->
  {% assets "main_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  <title>{% block title %}{% endblock %}</title>
  <!-- favicon	============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico">
  <link rel="stylesheet" href="./static/css/font-awesome.min.css">
  <!-- Google Fonts
		============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
  <link href="./static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Bootstrap CSS	============================================ -->
  <!-- <link rel="stylesheet" href="./static/css/bootstrap.min1.css"> -->
  <!-- owl.carousel CSS	============================================ -->
  <link rel="stylesheet" href="./static/css/owl.carousel.css">
  <link rel="stylesheet" href="./static/css/owl.theme.css">
  <link rel="stylesheet" href="./static/css/owl.transitions.css">
  <!-- animate CSS ============================================ -->
  <link rel="stylesheet" href="./static/css/animate.css">
  <!-- normalize CSS
		============================================ -->
  <link rel="stylesheet" href="./static/css/normalize.css">
  <!-- meanmenu icon CSS
		============================================ -->
  <link rel="stylesheet" href="./static/css/meanmenu.min.css">
  <!-- main CSS
		============================================ -->
  <link rel="stylesheet" href="./static/css/main.css">
  <!-- educate icon CSS
		============================================ -->
  <link rel="stylesheet" href="./static/css/educate-custon-icon.css">

  <link rel="stylesheet" href="./static/css/scrollbar/jquery.mCustomScrollbar.min.css">
  <!-- metisMenu CSS
		============================================ -->
  <link rel="stylesheet" href="./static/css/metisMenu/metisMenu.min.css">
  <link rel="stylesheet" href="./static/css/metisMenu/metisMenu-vertical.css">
  <!-- calendar CSS
		============================================ -->
  <link rel="stylesheet" href="./static/css/calendar/fullcalendar.min.css">
  <link rel="stylesheet" href="./static/css/calendar/fullcalendar.print.min.css">
  <!-- style CSS
		============================================ -->
  <link rel="stylesheet" href="./static/css/style.css">
  <!-- responsive CSS
		============================================ -->
  <link rel="stylesheet" href="./static/css/responsive.css">
  <!-- modernizr JS
    ============================================ -->
  <script src="./static/js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- confirm  -->
  <link rel="stylesheet" href="./static/css/jquery-confirm.min.css">

</head>

<body id="page-top">
  <!-- create menu  -->
  <div class="left-sidebar-pro">
    <nav id="sidebar" style="width: min-content;">
      <div class="sidebar-header">
        <a href="/">
          <!-- <div class="sidebar-brand-icon "> -->
          <img src="/static/img/logo.png" height="50px" width="60px" alt="logo" style="margin-top: 2%;">
          <!-- </div> -->
          <div class="sidebar-brand-text mx-1">
            <b>
              EPIDEMIC
            </b>
          </div>
          <hr>
        </a>

      </div>
      <div class="left-custom-menu-adp-wrap comment-scrollbar">
        <nav class="sidebar-nav left-sidebar-menu-pro">
          <ul class="metismenu" id="menu1" style="width: min-content;margin-left: 10px;">
           
            <!-- province  -->
            <li>
              <div class="form-group">
                <label for="sel1" style="color: black;">Province:</label>
                <select class="form-control" id="sel1" style="border-color: cornflowerblue;color: black;">
                  {% for name,code in province %}
                  <option class="option_{{code}}" value="{{code}}" name={{name}}>{{name}}</option>
                  {% endfor %}
                </select>
              </div>
            </li>
            <!-- disease  -->
            <li>
              <div class="form-group">
                <label for="sel1" style="color: black;">Disease:</label>
                <select class="form-control" id="sel1" style="border-color: cornflowerblue;color: black;">
                  {% for opt in X %}
                  <option class="option_{{opt}}" value="{{opt}}" name={{opt}}>{{opt.replace('_',' ')}}</option>
                  {% endfor %}
                </select>
              </div>
            </li>
            <!-- algorithm  -->
            <li>
              <div class="form-group">
                <label for="sel1" style="color: black;">Algorithm:</label>
                <select class="form-control" id="sel1" style="border-color: cornflowerblue;color: black;">
                  <option class="option_Linear" value="0" name='linear'>LinearRegression</option>
                  <option class="option_Arima" value="1" name='arima'>ARIMA</option>
                  <option class="option_Sarima" value="2" name='sarima'>SARIMA</option>
                </select>
              </div>
            </li>
            <!-- time series  -->
            <li>
              <label for="birthday" style="color: black;">Date:</label>
              <input type="date" id="birthday" name="birthday" style="border-color: cornflowerblue;color: black;">
            </li>
            <!-- button run  -->
            <!-- <li>
              <button type="button" class="btn btn-primary predict_data">RUN</button>
            </li> -->
          </ul>
        </nav>
      </div>
    </nav>
  </div>
  <!-- header menu  -->
  {% include "head_menu.html" %}
  <!-- end header menu  -->
  {% block content %} {% endblock %}
  <!-- script  -->
  <script src="./static/js/wow.min.js"></script>
  <!-- price-slider JS
            ============================================ -->
  <script src="./static/js/jquery-price-slider.js"></script>
  <!-- meanmenu JS
            ============================================ -->
  <script src="./static/js/jquery.meanmenu.js"></script>
  <!-- owl.carousel JS
            ============================================ -->
  <script src="./static/js/owl.carousel.min.js"></script>
  <script src="./static/js/jquery.sticky.js"></script>
  <!-- scrollUp JS
            ============================================ -->
  <script src="./static/js/jquery.scrollUp.min.js"></script>
  <!-- counterup JS
            ============================================ -->
  <script src="./static/js/counterup/jquery.counterup.min.js"></script>
  <script src="./static/js/counterup/waypoints.min.js"></script>
  <script src="./static/js/counterup/counterup-active.js"></script>
  <!-- mCustomScrollbar JS
            ============================================ -->
  <script src="./static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="./static/js/scrollbar/mCustomScrollbar-active.js"></script>
  <!-- metisMenu JS
            ============================================ -->
  <script src="./static/js/metisMenu/metisMenu.min.js"></script>
  <script src="./static/js/metisMenu/metisMenu-active.js"></script>
  <!-- plugins JS
            ============================================ -->
  <script src="./static/js/plugins.js"></script>
  <!-- main js  -->
  <script src="./static/js/main.js"></script>
  <!-- end main js  -->

  <!-- tawk chat JS
                      ============================================ -->
  <script src="./static/js/tab.js"></script>
  <!-- link js confirm  -->
  <script src="./static/js/jquery-confirm.min.js"></script>
</body>

</html>