{% extends 'base.html' %} {% block title %}Predict{% endblock %} {% block content %}
     <!-- Mobile Menu end -->
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                    <!-- <marquee behavior='scroll' direction='right'> -->
                                    <h4 style="color: #c9302c;" class="title_home">
                                    </h4>
                                    <!-- </marquee> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="breadcome-menu">
                                    <li><a href="/home">Home</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li><span class="bread-blod">Predict Data</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include('footer.html') %}
    <!-- end footer  -->
{% endblock %}